*{
    margin: 0;
    padding: 0;
}
.carousel-item img{
    height: 80vh;
}
.carousel-item .card1{
    background-color: rgba(0, 0, 0, 0.805);
    padding: 2rem;
    border-radius: 1rem;
}
#service h2{
    font-weight: 300;
}

#service .card{
    background-color: rgba(220, 220, 220, 0.721);
}
#service .card:hover{
    background-color: rgba(100, 148, 237, 0.704);
}
#project h3{
    font-weight: 300;
}

#project{
    background-color: rgba(220, 220, 220, 0.721);
}

#project .img1{
    border-top-left-radius: 3rem;
}
#project .img2{
    border-top-right-radius: 3rem;
}
#project .img3{
    border-bottom-left-radius: 3rem;
}
#project .img4{
    border-bottom-right-radius: 3rem;
}
#project .middle1 a:hover{
    background-color: rgba(0, 0, 255, 0.541);
    padding: 0.5rem ;
}

.project {
    position: relative;
  }
  
.img1 {
    display: block;
    /* width: 100%; */
    height: auto;
  }
  
  .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008bbaab;
  }
  
  .project:hover .text {
    opacity: 1;
  }
  
  .middle {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

@media screen and (max-width:768px) {
    .right i{
        display: none;
    }
    .right p{
        display: none;
    }
    #project .middle a{
        display: none;
    }
}
